<div class="col-md-4">

  <!-- Begin info box-4 -->
  <div class="info-box info-box-4 wow fadeIn">
    <span class="info-box-icon rounded-icon bg-main"><i class="<%= box_icon %>"></i></span>
    <div class="info-box-info">
      <h4 class="info-box-title"><%= box_title %></h4>
      <p class="info-box-text">
        <%= box_text %>
      </p>
    </div>
  </div>
  <!-- End info box-4 -->

</div> <!-- /.col -->

