<section id="main" role="main">

  <!-- Left Sidebar -->
  <aside id="leftbar" class="pull-left">
    <div class="sidebar-container">
      <!-- Main Menu -->
      <ul class="side-menu shadowed">
        <li>
          <%= link_to userpanel_index_path, class: 'active' do %>
            <i class="icon-home"></i>Dashboard
          <% end %>
        </li>
        <li class="submenu">
          <a href=""><i class="icon-cog"></i>Widgets</a>
          <ul>
            <li><%= link_to 'Sidebar', '#' %></li>
            <li><%= link_to 'Content', '#' %></li>
            <li><%= link_to 'Shortcuts', '#' %></li>
          </ul>
        </li>
      </ul>
    </div>
    <span id="leftbar-toggle" class="visible-xs sidebar-toggle">
      <i class="icon-angle-right"></i>
    </span>
  </aside>

  <!-- Content -->
</section>

