<section id="main" role="main">

  <!-- Left Sidebar -->
  <aside id="leftbar" class="pull-left">
    <div class="sidebar-container">
      <!-- Main Menu -->
      <ul class="side-menu shadowed">
        <li>
          <%= link_to userpanel_index_path, class: 'active' do %>
            <i class="icon-home"></i>Dashboard
          <% end %>
        </li>

        <%= render 'userpanel/leftsidebar/submenu',
          menu_title: 'Ec2',
          icon: 'icon-cog',
          services: [
            Instance: '#',
            Snapshots: '#',
            Volumes: '#',
            Security_Groups: '#',
            Key_Pairs: '#',
            Network_Interfaces: '#'
          ]
        %>

      </ul>
    </div>
    <span id="leftbar-toggle" class="visible-xs sidebar-toggle">
      <i class="icon-angle-right"></i>
    </span>
  </aside>

  <!-- Content -->
</section>

