<div class="col-sm-6 col-md-3">
  <!-- Begin info box-1 -->
  <div class="info-box info-box-1">
    <span class="info-box-icon"><i class='<%= box_icon %>'></i></span>
    <div class="info-box-info">
      <h4 class="info-box-title"><%= box_title %></h4>
      <p class="info-box-text">
        <%= box_text %>
      </p>
    </div>
  </div>
  <!-- End info box-1 -->
</div> <!-- /.col -->
