<div class="col-md-12">
  <!-- Begin info box-4 -->
  <div class="info-box info-box-4 info-box-white wow fadeIn">
    <span class="info-box-icon rounded-icon bg-main text-white"><i class="<%= box_icon %>"></i></span>
    <div class="info-box-info">
      <h4 class="info-box-title"><%= box_title %></h4>
      <p class="info-box-text text-gray-2">
        <%= box_text %>
      </p>
    </div>
  </div>
  <!-- End info box-4 -->
</div> <!-- /.col -->

