<section id="section-1" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- Begin heading 
              ===================
              * Use class "heading-center" or "heading-right" to align heading.
              * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
              * Use class "heading-hover" to enable heading hover effect.
              * Use class "heading-uppercase" to enable uppercase letters.
              -->
        <div class="heading heading-lg heading-hover wow fadeIn">
          <span class="heading-title-ghost">About Us</span>
          <h2 class="heading-title">About Us</h2>

          <!-- Begin divider 
                ===================
                * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
                * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
                * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
                -->
          <hr class="hr-width-1 hr-5x border-main">
          <!-- End divider -->

          <p class="heading-tescription lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip consequat. Tempor incididunt ut labore et 
          dolore magna aliquapta. <a href="#">Read More...</a>
          </p>
        </div>
        <!-- End heading -->

      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <div class="container margin-top-20">
    <div class="row wow fadeIn" data-wow-delay="0.3s">

      <%= render 'layouts/aboutus/infobox', 
        box_title: 'Fully Responsive',
        box_text: 'Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.',
        box_icon: 'fa fa-clone'
      %>

      <%= render 'layouts/aboutus/infobox', 
        box_title: 'Clean Code',
        box_text: 'Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.',
        box_icon: 'fa fa-diamond'
      %>
    
      <%= render 'layouts/aboutus/infobox', 
        box_title: 'One Page',
        box_text: 'Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.',
        box_icon: 'fa fa-television'
      %>

      <%= render 'layouts/aboutus/infobox', 
        box_title: 'Awesome Icons',
        box_text: 'Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.',
        box_icon: 'fa fa-bicycle'
      %>

  </div> <!-- /.row -->
  </div> <!-- /.container -->

</section>
