<section id="section-6" class="blog-section">

  <div class="container">
    <div class="row wow fadeIn">

      <!-- Left column -->
      <div class="col-md-6">

        <!-- Begin heading 
              ===================
              * Use class "heading-center" or "heading-right" to align heading.
              * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
              * Use class "heading-hover" to enable heading hover effect.
              * Use class "heading-uppercase" to enable uppercase letters.
              -->
        <div class="heading heading-lg heading-hover">
          <span class="heading-title-ghost">Articles</span>
          <h2 class="heading-title">Articles</h2>

          <!-- Begin divider 
                ===================
                * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
                * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
                * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
                -->
          <hr class="hr-width-1 hr-5x border-main">
          <!-- End divider -->

        </div>
        <!-- End heading -->

      </div> <!-- /.col -->

      <!-- Right column -->
      <div class="col-md-6">

        <p class="lead">
        <strong>Lorem ipsum dolor</strong> sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ullamco laboris nisi vaimera suttis.
        </p>

      </div> <!-- /.col -->

    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <div class="container">

    <!-- Begin blog list
          =====================
          * Use class "blog-list-classic" to enable classic blog list layout.
          -->
    <div class="blog-list margin-top-80">
      <div class="blog-wrap">

        <!-- Begin blog list item 1 
              ============================ -->
        <div class="blog-list-item row wow fadeInUp">

          <!-- Left column -->
          <div class="col col-md-6 no-padding">
            <a href="#" class="bco blog-list-image bg-image" style="background-image: url(assets/img/blog/blog-1.jpg); background-position: 50% 50%;"></a>
          </div> <!-- /.col -->

          <!-- Right column -->
          <div class="col col-md-6 no-padding">
            <div class="bco blog-list-info">
              <h2 class="blog-list-title"><a href="#" title="Aenean Odio Metus">Aenean Odio Metus</a></h2>
              <div class="blog-list-meta">
                <a href="#" class="article-time">29 jan 2016</a> - in
                <a href="#" class="article-category">#web design</a>
              </div>
              <p class="blog-list-desc">
              Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
              laboris nisi ut aliquip ex ea commodo consequat...
              </p>
            </div>
          </div> <!-- /.col -->

        </div> 
        <!-- End blog list item 1 -->

        <!-- Begin blog list item 2 
              ============================ -->
        <div class="blog-list-item row wow fadeInUp">

          <!-- Left column -->
          <div class="col col-md-6 col-md-push-6 no-padding">
            <a href="#" class="bco blog-list-image bg-image" style="background-image: url(assets/img/blog/blog-2.jpg); background-position: 50% 50%;"></a>
          </div> <!-- /.col -->

          <!-- Right column -->
          <div class="col col-md-6 col-md-pull-6 no-padding">
            <div class="bco blog-list-info">
              <h2 class="blog-list-title"><a href="#" title="Curabitur a Sodales">Curabitur a Sodales</a></h2>
              <div class="blog-list-meta">
                <a href="#" class="article-time">12 jan 2016</a> -in
                <a href="#" class="article-category">#development</a>
              </div>
              <p class="blog-list-desc">
              Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
              laboris nisi ut aliquip ex ea commodo consequat...
              </p>
            </div>
          </div> <!-- /.col -->

        </div> 
        <!-- End blog list item 2 -->

        <!-- Begin blog list item 3 
              ============================ -->
        <div class="blog-list-item row wow fadeInUp">

          <!-- Left column -->
          <div class="col col-md-6 no-padding">

            <!-- Begin content carousel (http://www.owlcarousel.owlgraphic.com)
                  ====================================================================
                  * Use class "nav-outside" for outside nav.
                  * Use class "nav-outside-top" for outside top nav.
                  * Use class "nav-rounded" for rounded nav.
                  * Use class "dots-outside" for outside dots.
                  * Use class "dots-left" or "dots-right" to align dots.
                  * Use class "dots-rounded" for rounded dots.
                  * Available carousel data attributes:
                      data-items="5".......................(items visible on desktop)
                      data-tablet-landscape="4"............(items visible on mobiles)
                      data-tablet-portrait="3".............(items visible on mobiles)
                      data-mobile-landscape="2"............(items visible on tablets)
                      data-mobile-portrait="1".............(items visible on tablets)
                      data-loop="true".....................(true/false)
                      data-margin="10".....................(space between items)
                      data-center="true"...................(true/false)
                      data-start-position="0"..............(item start position)
                      data-animate-in="fadeIn".............(more animations: http://daneden.github.io/animate.css/)
                      data-animate-out="fadeOut"...........(more animations: http://daneden.github.io/animate.css/)
                      data-mouse-drag="false"..............(true/false)
                      data-touch-drag="false"..............(true/false)
                      data-autoheight="true"...............(true/false)
                      data-autoplay="true".................(true/false)
                      data-autoplay-timeout="5000".........(milliseconds)
                      data-autoplay-hover-pause="true".....(true/false)
                      data-autoplay-speed="800"............(milliseconds)
                      data-drag-end-speed="800"............(milliseconds)
                      data-lazy-load="true"................(true/false)
                      data-nav="true"......................(true/false)
                      data-nav-speed="800".................(milliseconds)
                      data-dots="false"....................(true/false)
                      data-dots-speed="800"................(milliseconds)
                  -->
            <div class="owl-carousel dots-right" data-items="1" data-nav="true">

              <!-- Begin carousel item 
                    ========================= -->
              <div class="cc-item">
                <a href="#" class="bco blog-list-image bg-image" style="background-image: url(assets/img/blog/blog-3.jpg); background-position: 50% 50%;"></a>
              </div>
              <!-- End carousel item -->

              <!-- Begin carousel item 
                    ========================= -->
              <div class="cc-item">
                <a href="#" class="bco blog-list-image bg-image" style="background-image: url(assets/img/blog/blog-5.jpg); background-position: 50% 50%;"></a>
              </div>
              <!-- End carousel item -->

              <!-- Begin carousel item 
                    ========================= -->
              <div class="cc-item">
                <a href="#" class="bco blog-list-image bg-image" style="background-image: url(assets/img/blog/blog-6.jpg); background-position: 50% 50%;"></a>
              </div>
              <!-- End carousel item -->

            </div>
            <!-- End content carousel -->

          </div> <!-- /.col -->

          <!-- Right column -->
          <div class="col col-md-6 no-padding">
            <div class="bco blog-list-info">
              <h2 class="blog-list-title"><a href="#" title="Sed Quis Vestibulum">Sed Quis Vestibulum</a></h2>
              <div class="blog-list-meta">
                <a href="#" class="article-time">06 jan 2016</a> - in
                <a href="#" class="article-category">#development</a>
              </div>
              <p class="blog-list-desc">
              Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
              laboris nisi ut aliquip ex ea commodo consequat...
              </p>
            </div>
          </div> <!-- /.col -->

        </div> 
        <!-- End blog list item 3 -->

        <!-- Begin blog list item 4 
              ============================ -->
        <div class="blog-list-item row wow fadeInUp">

          <!-- Left column -->
          <div class="col col-md-6 col-md-push-6 no-padding">
            <a href="#" class="bco blog-list-image bg-image" style="background-image: url(assets/img/blog/blog-4.jpg); background-position: 50% 50%;"></a>
          </div> <!-- /.col -->

          <!-- Right column -->
          <div class="col col-md-6 col-md-pull-6 no-padding">
            <div class="bco blog-list-info">
              <h2 class="blog-list-title"><a href="#" title="Proin Ex Dolor">Proin Ex Dolor</a></h2>
              <div class="blog-list-meta">
                <a href="#" class="article-time">03 jan 2016</a> -in
                <a href="#" class="article-category">#web design</a>
              </div>
              <p class="blog-list-desc">
              Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
              laboris nisi ut aliquip ex ea commodo consequat...
              </p>
            </div>
          </div> <!-- /.col -->

        </div> 
        <!-- End blog list item 4 -->

      </div> <!-- /.blog-wrap -->
    </div>
    <!-- End blog-list -->

    <div class="text-center wow fadeIn" data-wow-delay="0.4s">
      <a href="#" target="_blank" class="btn btn-default btn-xlg btn-block margin-top-60">View All Articles</a>
    </div>

  </div> <!-- /.container -->

</section>

