<!--
* Use class "angle-left-top" or "angle-right-top" to change footer top angle.
-->
<footer id="footer" class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright small">
          <a href="#">Asso - One Page HTML5 Template</a>
          <p>Copyright 2016 / All rights reserved</p>
        </div>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</footer>

