<section id="section-3" class="portfolio-section">

  <div class="container">
    <div class="row wow fadeIn">

      <!-- Left column -->
      <div class="col-md-6">

        <!-- Begin heading 
              ===================
              * Use class "heading-center" or "heading-right" to align heading.
              * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
              * Use class "heading-hover" to enable heading hover effect.
              * Use class "heading-uppercase" to enable uppercase letters.
              -->
        <div class="heading heading-lg heading-hover">
          <span class="heading-title-ghost">Portfolio</span>
          <h2 class="heading-title">Portfolio</h2>

          <!-- Begin divider 
                ===================
                * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
                * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
                * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
                -->
          <hr class="hr-width-1 hr-5x border-main">
          <!-- End divider -->

        </div>
        <!-- End heading -->

      </div> <!-- /.col -->

      <!-- Right column -->
      <div class="col-md-6">

        <p class="lead">
        <strong>Lorem ipsum dolor</strong> sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. <a href="#">Read More..</a>
        </p>

      </div> <!-- /.col -->

    </div> <!-- /.row -->
  </div> <!-- /.container -->


  <div class="container">

    <!-- Begin isotope
          ===================
          * Use classes "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
          * Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
          -->
    <div class="isotope popup-gallery gutter-2 col-3">

      <!-- Begin isotope filter 
            =========================== -->
      <div class="isotope-filter">

        <!-- Begin isotope filter toggle button -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed filter-toggle-btn" data-toggle="collapse" data-target="#isotope-filter-collapse">
            <span class="text-center">Filter <i class="fa fa-chevron-down"></i></span>
          </button>
        </div>
        <!-- End isotope filter toggle button -->

        <!-- Begin isotope filter links 
              ==================================
              * Use class "text-center" or "text-right" to align isotope filter links.
              * Note: class "mlc" = close filter menu when clicking filter link.
              -->
        <div class="isotope-filter-links collapse navbar-collapse no-padding wow fadeIn" id="isotope-filter-collapse">
          <a class="active" href="#" data-filter="*">All</a>
          <a href="#" data-filter=".photography">Photography</a>
          <a href="#" data-filter=".web-design">Web Design</a>
          <a href="#" data-filter=".graphics">Graphics</a>
          <a href="#" data-filter=".branding, .web-design">Mockups</a>
        </div>
        <!-- End isotope filter links -->

      </div>
      <!-- End isotope filter -->


      <!-- Begin isotope items
            ==========================
            * Note: For grid layout make sure that your images are the same dimensions.
            * Note: For masonry layout make sure that your images are the different dimensions.
            -->
      <div class="isotope-items-wrap">

        <!-- Grid sizer (do not remove!!!) -->
        <div class="grid-sizer"></div>


        <!-- //////////////////
              // Begin isotope item. Note: use class "width2" for alternative item width (works best on first item)
              /////////////////////// -->
        <div class="isotope-item photography wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-1">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-1.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Hardcover Book</h3>
                  <p class="item-info-text">Photography</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-1" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-1.jpg); background-position: 50% 50%;"></div>

                <div class="row margin-top-40">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 1</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">01 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Photography</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->

          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

        <!-- //////////////////
              // Begin isotope item
              /////////////////////// -->
        <div class="isotope-item branding wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-2">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-2.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Identity MockUp Vol.1</h3>
                  <p class="item-info-text">Branding</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-2" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-2.jpg); background-position: 50% 50%;"></div>

                <div class="row margin-top-40">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 2</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">03 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Photography</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->

          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

        <!-- //////////////////
              // Begin isotope item 
              /////////////////////// -->
        <div class="isotope-item web-design wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-3">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-3.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Brown Paper Bag</h3>
                  <p class="item-info-text">Web Design</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-3" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <!-- Begin content carousel (http://www.owlcarousel.owlgraphic.com)
                      ====================================================================
                      * Use class "nav-outside" for outside nav.
                      * Use class "nav-outside-top" for outside top nav.
                      * Use class "nav-rounded" for rounded nav.
                      * Use class "dots-outside" for outside dots.
                      * Use class "dots-left" or "dots-right" to align dots.
                      * Use class "dots-rounded" for rounded dots.
                      * Available carousel data attributes:
                          data-items="5".......................(items visible on desktop)
                          data-tablet-landscape="4"............(items visible on mobiles)
                          data-tablet-portrait="3".............(items visible on mobiles)
                          data-mobile-landscape="2"............(items visible on tablets)
                          data-mobile-portrait="1".............(items visible on tablets)
                          data-loop="true".....................(true/false)
                          data-margin="10".....................(space between items)
                          data-center="true"...................(true/false)
                          data-start-position="0"..............(item start position)
                          data-animate-in="fadeIn".............(more animations: http://daneden.github.io/animate.css/)
                          data-animate-out="fadeOut"...........(more animations: http://daneden.github.io/animate.css/)
                          data-mouse-drag="false"..............(true/false)
                          data-touch-drag="false"..............(true/false)
                          data-autoheight="true"...............(true/false)
                          data-autoplay="true".................(true/false)
                          data-autoplay-timeout="5000".........(milliseconds)
                          data-autoplay-hover-pause="true".....(true/false)
                          data-autoplay-speed="800"............(milliseconds)
                          data-drag-end-speed="800"............(milliseconds)
                          data-lazy-load="true"................(true/false)
                          data-nav="true"......................(true/false)
                          data-nav-speed="800".................(milliseconds)
                          data-dots="false"....................(true/false)
                          data-dots-speed="800"................(milliseconds)
                      -->
                <div class="owl-carousel portfolio-single-carousel dots-outside" data-items="1" data-nav="true">

                  <!-- Begin carousel item 
                        ========================= -->
                  <div class="cc-item">
                    <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-3.jpg); background-position: 50% 50%;"></div>
                  </div>
                  <!-- End carousel item -->

                  <!-- Begin carousel item 
                        ========================= -->
                  <div class="cc-item">
                    <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-4.jpg); background-position: 50% 50%;"></div>
                  </div>
                  <!-- End carousel item -->

                  <!-- Begin carousel item 
                        ========================= -->
                  <div class="cc-item">
                    <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-5.jpg); background-position: 50% 50%;"></div>
                  </div>
                  <!-- End carousel item -->

                </div>
                <!-- End content carousel -->

                <div class="row margin-top-80">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 3</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">04 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Photography</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->

          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

        <!-- //////////////////
              // Begin isotope item 
              /////////////////////// -->
        <div class="isotope-item graphics wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-4">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-4.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Canvas Tote Bag</h3>
                  <p class="item-info-text">Graphics</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-4" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-4.jpg); background-position: 50% 50%;"></div>

                <div class="row margin-top-40">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 4</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">05 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Graphics</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->

          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

        <!-- //////////////////
              // Begin isotope item 
              /////////////////////// -->
        <div class="isotope-item photography wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-5">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-5.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Rubber Stamp</h3>
                  <p class="item-info-text">Photography</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-5" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <!-- Begin embed video (more info about reffering embed videos: https://www.feedthebot.com/pagespeed/defer-videos.htm) -->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe data-src="https://www.youtube.com/embed/9UWo5RdXc1o" src="https://player.vimeo.com/video/60616160?"></iframe>
                </div>
                <!-- End embed video -->

                <div class="row margin-top-40">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 5</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">07 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Photography</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->
          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

        <!-- //////////////////
              // Begin isotope item 
              /////////////////////// -->
        <div class="isotope-item branding wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-6">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-6.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Vintage Logo MockUp</h3>
                  <p class="item-info-text">Branding</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-6" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <!-- Begin embed video (more info about reffering embed videos: https://www.feedthebot.com/pagespeed/defer-videos.htm) -->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe data-src="https://player.vimeo.com/video/79298633?" src="https://player.vimeo.com/video/60616160?"></iframe>
                </div>
                <!-- End embed video -->

                <div class="row margin-top-40">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 6</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">08 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Branding</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->

          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

        <!-- //////////////////
              // Begin isotope item 
              /////////////////////// -->
        <div class="isotope-item web-design wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-7">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-7.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Identity MockUp vol.2</h3>
                  <p class="item-info-text">Web Design</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-7" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-7.jpg); background-position: 50% 50%;"></div>

                <div class="row margin-top-40">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 7</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">11 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Web Design</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->

          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

        <!-- //////////////////
              // Begin isotope item
              /////////////////////// -->
        <div class="isotope-item graphics wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-8">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-8.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Identity MockUp vol.3</h3>
                  <p class="item-info-text">Graphics</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-8" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-8.jpg); background-position: 50% 50%;"></div>

                <div class="row margin-top-40">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 8</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">16 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Graphics</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->

          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

        <!-- //////////////////
              // Begin isotope item 
              /////////////////////// -->
        <div class="isotope-item branding wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-9">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-9.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Vinyl Record</h3>
                  <p class="item-info-text">Branding</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-9" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-9.jpg); background-position: 50% 50%;"></div>

                <div class="row margin-top-40">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 9</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">18 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Branding</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->

          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

        <!-- //////////////////
              // Begin isotope item
              /////////////////////// -->
        <div class="isotope-item web-design wow fadeInUp">

          <!-- Begin portfolio item -->
          <div class="portfolio-item-wrap">
            <div class="portfolio-item">
              <a class="item-link inline-popup-trigger" href="#portfolio-10">
                <span class="cover bg-transparent-9-main"></span>
                <img class="item-img" src="assets/img/portfolio/masonry/portfolio-img-10.jpg" alt="image">
                <div class="item-info text-white">
                  <h3 class="item-info-title">Shopping Bag</h3>
                  <p class="item-info-text">Web Design</p>
                </div>
              </a>
            </div>

            <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
            <div id="portfolio-10" class="inline-popup mfp-hide">
              <div class="inline-popup-inner">

                <div class="inline-popup-image bg-image" style="background-image: url(assets/img/portfolio/big/portfolio-img-10.jpg); background-position: 50% 50%;"></div>

                <div class="row margin-top-40">
                  <div class="col-md-8 margin-bottom-20">
                    <h2 class="no-margin-top">Portfolio Single Item 10</h2>
                    <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show.</p> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>
                  </div>
                  <div class="col-md-4 margin-bottom-20 padding-left-40">
                    <ul class="list-unstyled">
                      <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                      <li>Date: <strong><a href="#" target="_blank">29 jan, 2016</a></strong></li>
                      <li>Category <strong><a href="#" target="_blank">Web Design</a></strong></li>
                      <li>Copyright ©2016, All Rights Reserved</li>
                    </ul>
                    <a href="#" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">Launch Project</a>
                  </div>
                </div> <!-- /.row -->

              </div> <!-- /.inline-popup-inner -->

              <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

            </div>
            <!-- End inline popup content -->

          </div>
          <!-- End portfolio item -->

        </div>
        <!-- End isotope item -->

      </div>
      <!-- End isotope items wrap -->

    </div>
    <!-- End isotope -->

    <div class="text-center wow fadeIn" data-wow-delay="0.4s">
      <a href="#" target="_blank" class="btn btn-default btn-xlg btn-block margin-top-40">View All Portfolio</a>
    </div>

  </div> <!-- /.container -->

</section>

