<!--
* Add class "slidingbar-fixed" to enable fixed slidingbar.
-->
<section id="top-slidingbar-wrapper" class="slidingbar-fixed">
  <div id="top-slidingbar">
    <div class="container">
      <div class="row">

        <div class="col col-md-4">
          <h4 class="top-slidingbar-heading text-gray-2">Information</h4>
          <hr class="hr-width-1 hr-double margin-top-15">
          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt uteralis labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div> <!-- /.col -->

        <div class="col col-md-4">
          <h4 class="top-slidingbar-heading text-gray-2">Contact</h4>
          <hr class="hr-width-1 hr-double margin-top-15">
          <ul class="list-unstyled small">
            <li><i class="fa fa-home"></i> 121 King Street, Melbourne, Australia</li>
            <li><i class="fa fa-phone"></i> (+548) 12-345-6789</li>
            <li><i class="fa fa-envelope-o"></i> <a href="mailto:support@mail.com">support@mail.com</a></li>
          </ul>
        </div> <!-- /.col -->

        <div class="col col-md-4">

          <h4 class="top-slidingbar-heading text-gray-2">Our Instagram</h4>
          <hr class="hr-width-1 hr-double margin-top-15">

          <!-- Begin thumbnail list 
                ==========================
                * Use class "col-2", "col-3", "col-4" "col-5" or "col-6" for thumbnail list columns.
                * Use class "gutter-1", "gutter-2", "gutter-3", "gutter-4" or "gutter-5" to add more space between items.
                -->
          <ul class="thumb-list col-5 gutter-3">
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-1.jpg);"></a></li>
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-2.jpg);"></a></li>
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-3.jpg);"></a></li>
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-4.jpg);"></a></li>
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-5.jpg);"></a></li>
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-6.jpg);"></a></li>
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-7.jpg);"></a></li>
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-8.jpg);"></a></li>
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-9.jpg);"></a></li>
            <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(assets/img/misc/small/img-11.jpg);"></a></li>
          </ul>
          <!-- End thumbnail list -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.top-slidingbar -->

  <!-- top-top-slidingbar trigger -->
  <div class="top-slidingbar-trigger-wrapper"><span class="top-slidingbar-trigger">+</span></div>

</section>

